---
import '../styles/global.css';
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&display=swap" rel="stylesheet">
		<meta name="description" content="Especialistas en venta, mantenimiento y recarga de extintores." />
		<meta name="generator" content={Astro.generator} />
		<title>Extintores Pro | Venta y Recarga</title>
	</head>
	<body class="bg-gray-50 text-gray-900 antialiased overflow-x-hidden selection:bg-red-600 selection:text-white">
		<slot />
	</body>
</html>
